#rocket {
  position: absolute;
  top: 40vh;
  left: 58.7vw;
  animation: slideUpper 0.7s ease-in-out 0.7s forwards;
}
#smoke {
  position: absolute;
  top: 52vh;
  left: 59.5vh;
  animation: slideUp 0.7s ease-in-out 0.7s forwards;
}
.moveUp {
  animation: slideUp 0.7s ease-in-out 0.7s forwards;
}

@keyframes slideUpper {
  to {
    transform: translateY(-500%);
  }
}
@keyframes slideUp {
  to {
    transform: translateY(-80%);
  }
}

@media (max-width: 768px) {
  #rocket{
    position: absolute;
    top: 49vh;
    left: 81.5vw;
  }
  #smoke{
    position: absolute;
    top: 62vh;
    left: -29vw;
  }
}
